body{
	background-color: darkgrey;
}
.intro{
	background-color:lightgrey;
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding: 100px 150px 100px 80px;
	font-family: arial;
	font-size: 65px;
}
h1{
	color: white;

}
.about-me{
	background-color: white;
	color: #696969;
	margin: 10 0 10px 10px;
	font-family: arial;
	text-align: justify;
}
.images{
	float: left;
    margin: 0 0 10px 10px;
}
.profile{
	background-color: white;
}
.contact{
	background-color: white;
}
